* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 70px;
  background-color: black;
}
/******************************header*******************************/
header {
  display: flex;
  height: 50px;
  color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}
header div {
  padding: 6px 6px;
  background-color: rgb(74, 74, 74);
  font-size: 15px;
  border-radius: 20px;
}
main {
  margin: 0 60px;
}

footer {
  height: 90px;
  background-color: rgb(34, 34, 34);
  position: fixed;
  bottom: 0;
  width: 100vw;
}
